<%if (items.length >0) { %>	
<div class="show" style="position:absolute;top:16.3%;left:60%">
			<a href="http://localhost:4000" class="btn btn-success btn-lg" style="float:right;"> Show all records </a>
			</div>
				<table class="table" id="myTable2">

					<thead>

						<tr>
							<th style="width:1%;text-align:center">ID</th>
							<th style="width:49%" >Item Name</th>
							<th style="width:20%" >Quantity</th>
							<th style="width:10%" >Amount</th>
							<th solspan="2" style="width:20%;text-align:center"> Actions</th>
						</tr>
					</thead>
					<tbody>
							<% items.forEach(function(itemsTable,index){ %>
								<tr>
									<td style="width:1%;text-align:center"><%= itemsTable.id %></td>
									<td style="width:29%"><%= itemsTable.name %></td>						
									<td style="width:20%"><%= itemsTable.qty %></td>
									<td style="width:10%"><%= itemsTable.amount %></td>
									<td solspan="2" style="width:20%;text-align:center">
										<a href="/event/edit/<%= itemsTable.id%>" class="btn btn-success"> Edit </a>
										<a href="/event/delete/<%= itemsTable.id%>" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"> Delete 
										</a>
									</td>
								</tr>
							<% }); %>
					</tbody>
				</table>

		<%	} else{ %>
			<p><strong> NOTHING FOUND. PLEASE TRY AGAIN. </strong> </p>
	<%	} %>